.container {
  /* Estilos para el contenedor principal */
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.codeContainer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  overflow-x: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.content {
  width: 80%;
  padding: 20px;
}

.selected {
  background-color: #2ae8cb !important; /* O el color que prefieras */
  color: black !important;
  font-weight: bold !important;
  margin: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.buttonArtitle {
  margin: 10px !important;
}

