.xml-text-content {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.xml-content {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-wrap: break-word; /* Para evitar que el texto se salga del contenedor */
  white-space: pre-wrap; /* Para preservar los saltos de línea pero no los espacios adicionales */
}

.xml-line {
  margin: 5px 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; /* Centra el título */
  color: #333;
}
